.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  height: 2vh; 
  display: flex; 
  align-items: center;
  justify-content: right;
  margin: 20px; 

}
.nav a {
  padding: 30px; 
  text-decoration: none; 
  text-align: center;
  color: #fff; 
  
}
.nav a.active {
  color: tomato; 
  border-radius: 70%; 
  height: 2px; 
  margin-bottom: 20px;  

}
.links {
  padding: 30px; 
}
h1 {
  color: tomato; 
}
.footer {
  height: 10vh; 
  margin: 10px; 
  position: relative; 
  bottom: 0; 
  top: 75vh; 
  display: flex; 
  align-items: center;
  justify-content: center;
}
.footer h3 {
  color: tomato; 
}
.quotes {
  background: rgb(79, 79, 83, 0.6);
  width: 50%; 
  margin-left: 25%; 
  height: 50vh; 
  padding: 20px; 
  box-shadow: 2px 2px 4px, -2px 0 4px; 
  border-radius: 10px; 
}
p {
  color: beige; 
}
h2 {
  color: tomato; 
}
.btn {
  color: black; 
  padding: 10px; 
  background: transparent;
  outline: none; 
  border: 1px solid; 
}
/* .container {
  width: 60%; 
  margin-left: 15%; 
  background:rgb(79, 79, 83, 0.6); 
  height: 80vh; 
  padding: 10px; 
  border-radius: 10px; 
  box-shadow: 1px 1px 2px, -1px 0 2px
} */
h4 {
  font-style: italic; 
  color: rgb(247, 129, 82); 

}
body {
  background: url("https://images.unsplash.com/photo-1610621062045-ef5f7201bb3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80");
  background-repeat: no-repeat;  
  background-size: cover;
  height: 100vh; 

}
h3 {
  color: rgb(247, 129, 82);; 
}